@font-face {
    font-family: 'FAMILY_NAME';
    font-style: NORMAL_OR_ITALIC;
    font-weight: NUMERIC_WEIGHT_VALUE;
    src: url(FONT_FILE_NAME.woff2) format('woff2');
  }
  :root{
    --background-color:rgb(230, 230, 200);

  }
  *{
    margin: 0;
    padding: 0;
    font-family: 'FAMILY_NAME';
    font-style: NORMAL_OR_ITALIC;
    font-weight: NUMERIC_WEIGHT_VALUE;
    text-decoration: none;
  }
  body{
    height: 100vh ; 
    text-align: center;
    background-color: var(--background-color);
    padding: 0.99rem;
  }
  .header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    gap: 0.625rem;
  
  }
  .logo-icon{
    display: flex;
    height: 1.8rem;
    width: 1.8rem;
    overflow: hidden;
  }
  .logo-text{
    font-size: 2rem;
    font-weight: bold;
  }
  .nav{
    margin-top: 1.2rem;
    display: none;
    gap:1.5rem;
  }
  @media screen and (min-width:768px) {
    .nav{
      display: flex;
    }
  }

  .nav-link{
    color: #718096;
    font-size: 1.12rem;
    font-weight: 600;
    transform: color 0.1s;
  }
  .nav-link:hover{
    color:rgb(73, 73, 162);
  }
  .contact-button{
    display: none;
    color: antiquewhite;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius:0.325rem ;
    background-color: rgb(89, 89, 182);
    /* padding topbottom leftright */
    padding: 0.75rem 1.5rem;
  }
  @media screen and (min-width:768px) {
    .contact-button{
      display: flex;
    }
    
  }
  .contact-button:hover{
    background-color: rgb(73, 73, 150);
  }
  .menu-button{
    display: none;
    border: none;
    border-radius: 0.37rem;
    font-size: 1rem;
    font-weight: 600;
    background-color:rgb(230, 230, 200);
    padding: 0.5rem 1.1rem;

  }
  @media screen and (max-width:768px){
    .menu-button{
      display: block;
    }
  }
  .menu-icon{
    height: 1.5rem;
    width: 1.5rem;
    padding: 0%;
  }
  .main-session{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin:0 auto
  }
  .content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
  }
  @keyframes slideFromLeft{
    0%{
      opacity: 0;
      transform: translateX(-100%);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  } 
  .session-label{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(69, 69, 139);
  }
  .session-title{
    font-size: 2.3rem;
    padding: 1rem;
  }
  .section-description{
    color: rgb(68, 61, 61);
    font-size:1.15rem ;
  }
  .button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }

 .start-button, 
  .tour-button{
    margin-top: 2rem;
    color: antiquewhite;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius:0.325rem ;
    background-color: rgb(89, 89, 182);
    /* padding topbottom leftright */
     padding: 0.75rem 1.5rem;
  } 
  .tour-button{
    background-color: rgb(89, 78, 78);
  }
  .start-button:hover{
    background-color: rgb(63, 63, 137);
  }
  .tour-button:hover{
    background-color: rgb(106, 99, 99);
  }
  .content-right{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .image-container{
    border: none;
    border-radius: 1.75rem;
    overflow: hidden;
    box-shadow:0px 4px 8px rgba(0, 0,0, 0.1) ;
    height: 47vh;
  }
  .section-image{
    height: 99%;
    width: 99%;
  }

  @media screen and (min-width:760px) {
    .main-session{
      flex-direction: row;
      padding: 5rem;
    }
    .content-left{
      max-width:50%;
      text-align: left;
    }
    .session-title{
      padding: 0rem;
      font-size: 2rem;
      margin-top: 1rem;
    }
    .image-container{
      height: 50vh;
    }
    .button-group{
      justify-content: start;
      padding: 0%;
    }
    .content-right{
      min-width: 285px;
    }
    .section-description{
      font-size: 1.1rem;
      width: 78%;
      margin-top: 1rem;
    }
  }
  .company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideFromLeft 1s ease forwards ;
  }
  .company-grid{
    display: grid;
    
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: rgb(218, 213, 206);
    border: none;
    border-radius: 0.625rem;
    margin-top: 1.5rem;
    margin-bottom: 10rem;
    padding: 1rem 2rem;
  }
  .company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: #3c4047;
    display: flex;
    gap: 0.5rem;

  }
  .svg-img{
    height: 1.56rem;
    padding-top: 0.3955rem;
  }
  .logo-txt{
    margin-top: 9.5px;
    /* padding-top: 0%; */
  }
  @media screen and (min-width:760px) {
    .company-grid{
      grid-template-columns: repeat(4,1fr);
      margin-top: 0.75rem;
      gap: 1rem;
     

    }
    .company-title{
      font-size: 1.7rem;
      font-weight: 700;
    }
    
  }
