  :root{
    --background-color:rgb(230, 230, 200);
  }
  *{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  body{
    
    text-align: center;
    background-color: var(--background-color);
    padding: 0.99rem;
  }
  .header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    gap: 0.625rem;
  
  }
  .logo-icon{
    display: flex;
    height: 1.8rem;
    width: 1.8rem;
    overflow: hidden;
  }
  .logo-text{
    font-size: 2rem;
    font-weight: bold;
  }
  .nav{
    margin-top: 1.2rem;
    display: none;
    gap:1.5rem;
  }
  @media screen and (min-width:768px) {
    .nav{
      display: flex;
    }
  }

  .nav-link{
    color: #718096;
    font-size: 1.12rem;
    font-weight: 600;
    transform: color 0.1s;
  }
  .nav-link:hover{
    color:rgb(73, 73, 162);
  }
  .contact-button{
    display: none;
    color: antiquewhite;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius:0.325rem ;
    background-color: rgb(89, 89, 182);
    /* padding topbottom leftright */
    padding: 0.75rem 1.5rem;
  }
  @media screen and (min-width:768px) {
    .contact-button{
      display: flex;
    }
    
  }
  .contact-button:hover{
    background-color: rgb(73, 73, 150);
  }
  .menu-button{
    display: none;
    border: none;
    border-radius: 0.37rem;
    font-size: 1rem;
    font-weight: 600;
    background-color:rgb(230, 230, 200);
    padding: 0.5rem 1.1rem;

  }
  @media screen and (max-width:768px){
    .menu-button{
      display: block;
    }
  }
  .menu-icon{
    height: 1.5rem;
    width: 1.5rem;
    padding: 0%;
  }
  .main-session{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin:0 auto
  }
  .content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
  }
  @keyframes slideFromLeft{
    0%{
      opacity: 0;
      transform: translateX(-100%);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  } 
  .session-label{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(69, 69, 139);
  }
  .session-title{
    font-size: 2.3rem;
    padding: 1rem;
  }
  .section-description{
    color: rgb(68, 61, 61);
    font-size:1.15rem ;
  }
  .button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }

 .start-button, 
  .tour-button{
    margin-top: 2rem;
    color: antiquewhite;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius:0.325rem ;
    background-color: rgb(89, 89, 182);
    /* padding topbottom leftright */
     padding: 0.75rem 1.5rem;
  } 
  .tour-button{
    background-color: rgb(89, 78, 78);
  }
  .start-button:hover{
    background-color: rgb(63, 63, 137);
  }
  .tour-button:hover{
    background-color: rgb(106, 99, 99);
  }
  .content-right{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .image-container{
    border: none;
    border-radius: 1.75rem;
    overflow: hidden;
    box-shadow:0px 4px 8px rgb(67, 33, 33) ;
    height: 47vh;
  }
  .section-image{
    height: 99%;
    width: 99%;
    box-shadow: 15px 15px 20px rgb(156, 109, 51);
  }

  @media screen and (min-width:760px) {
    .main-session{
      flex-direction: row;
      padding: 5rem;
    }
    .content-left{
      max-width:50%;
      text-align: left;
    }
    .session-title{
      padding: 0rem;
      font-size: 2rem;
      margin-top: 1rem;
    }
    .image-container{
      height: 50vh;
    }
    .button-group{
      justify-content: start;
      padding: 0%;
    }
    .content-right{
      min-width: 285px;
    }
    .section-description{
      font-size: 1.1rem;
      width: 78%;
      margin-top: 1rem;
    }
  }
  .company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideFromLeft 1s ease forwards ;
  }
  .company-grid{
    display: grid;
    
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: rgb(218, 213, 206);
    border: none;
    border-radius: 0.625rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    padding: 1rem 2rem;
  }
  .company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: #3c4047;
    display: flex;
    gap: 0.5rem;

  }
  .svg-img{
    height: 1.56rem;
    padding-top: 0.3955rem;
  }
  .logo-txt{
    margin-top: 9.5px;
    /* padding-top: 0%; */
  }
  @media screen and (min-width:760px) {
    .company-grid{
      grid-template-columns: repeat(4,1fr);
      margin-top: 0.75rem;
      gap: 1rem;
     

    }
    .company-title{
      font-size: 1.7rem;
      font-weight: 700;
      
    }
    
  }
  .feature-container{
    background-color: rgb(230, 230, 200);
    /* background-color: #718096; */
    padding: 2.5rem 0;
    text-align: center;
  }
  .feature-content{
    margin: 0 auto; /*to place it in centre of featurecontent */
    max-width: 800px;
    padding: 0 2rem;
  }
  .main-title-name{
    font-size: 2.2rem;
  }
  .main-title-desc{
    color: rgb(113, 100, 100);
    font-size: 1.5rem ;
  }
  .main-info
  {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding-bottom: 1.3rem;
  }
  .feature-grid
  {
    display: grid;
    /* gap: 1rem; */
    gap: 1.4rem;
    grid-template-columns: repeat(2 ,1fr);
    margin-top: 1rem;
  }
  .feature-svg{
    height: 1.5rem;
    width: 1.5rem;
  }
  .icon-container{
    background-color: rgb(182, 195, 195);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a0b0c8;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;
    
  }

  .feature-title{
    color: rgb(37, 34, 34);
    font-weight: bold;
    font-size: 1rem;
  }
  .feature-desc{
    color: white;
  }
  .feature-card:nth-child(2){
    background-color: #e8708e;
    box-shadow: 10px 10px 20px  rgb(155, 64, 79);
  }
  .feature-card:nth-child(3){
    background-color: #8e7c5e;
    box-shadow: 10px 10px 20px  rgba(114, 69, 77);
  }
  .feature-card:nth-child(4){
    background-color: #3a787a;
    box-shadow: 10px 10px 20px  rgb(44, 106, 125);
  }
  .feature-card:nth-child(5){
    background-color: #5c8448;
    box-shadow: 10px 10px 20px  rgb(66, 94, 34);
  }
  .feature-card:nth-child(6){
    background-color: #868048;
    box-shadow: 10px 10px 20px  rgb(66, 115, 72);
  }
  .feature-card:nth-child(1){
    background-color: #5a87ba;
    box-shadow: 10px 10px 20px  rgb(32, 107, 96);
  }
  .feature-info
  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  @media screen and (max-width:760px){
    .feature-grid{
      grid-template-columns: repeat(1,1fr);
    }
  }

  .testimonial-container
  {
    background-color: #dfe5c1;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1280px;
    /* border: 0.5px rgb(153, 131, 131) solid; */
    padding-bottom: 2rem;
    /* box-shadow: inset 0 2px 8px rgba(0, 0, 0); */
  }

  .testimonial-content{
    /* display: flex;
    flex-direction: column;
    gap: 3rem; */
    /* align-items: center; */
  }

  .testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
    padding: 1rem;
  }

  .testmonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 2rem;
  }

  .testimonial-card{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0,1);
    border: 1px rgb(156, 143, 143) solid;
    padding: 2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow ease;
  }

  .testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0,0,2);
    border: 1px solid rgb(52, 52, 91);
  }

  .testimonial-avatar img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }

  .testimonial-text{
    font-size: 1rem;
    color: #32343a;
  }

  .newsletter-container
  {
    background-color: var(--background-color);
    /* padding: 2rem; */
    max-width: 1280px;
    height: 35vh;

    margin: 0 auto;
  }

  .newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: rgb(210, 206, 206);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
  }

  .news-left{
    height: 100%; 
     width: 50%;
  }

  .news-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
  }
  @media screen and (max-width:764px){
    .news-left img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: none;
      padding: 2rem;
    }
    .news-title{
      font-size: 1.9rem;
      color: rgb(64, 64, 203);
      font-weight: bold;
    }
    
  }


  .news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    align-items: start;
  }

  .news-title{
    font-size: 1.9rem;
    color: rgb(64, 64, 203);
    font-weight: bold;
  }

  .news-decp{
    text-align: left;
    color: #777;
  }

  .news-form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
  }

  .news-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color:#333 ;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
  }

  .news-email:focus{
    border-color: rgb(10, 10, 247);
    box-shadow: 0.5px 0.5px 0.5px rgb(0, 0, 0);
  }

  .news-send-button{
    background-color: rgb(68, 68, 244);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    
  }

  .news-send-button:hover{
    background-color:rgb(38, 38, 216) ;
  }

  .privacy-policy{
    padding: 0rem;
  }

  .news-link{
    text-decoration: underline;
    color: blue ;
    font-size: 0.78rem;
  }

  .footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 2rem;
    height: 2rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 1rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

